<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.cetboot.mapper.ExerciseMapper">

    <resultMap id="BaseResultMap" type="com.code.cetboot.entity.Exercise">
            <id property="exerciseId" column="exercise_id" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="answerSelectionId" column="answer_selection_id" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="exerciseVO" type="com.code.cetboot.vo.ExerciseVO">
            <id property="exerciseId" column="exercise_id" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="answerSelectionId" column="answer_selection_id" jdbcType="INTEGER"/>
            <collection property="selections" resultMap="com.code.cetboot.mapper.ExerciseSelectionMapper.BaseResultMap">
                <id property="exerciseSelectionId" column="exercise_selection_id" jdbcType="INTEGER"/>
                <result property="selection" column="selection" jdbcType="VARCHAR"/>
                <result property="exerciseId" column="exerciseId" jdbcType="INTEGER"/>
            </collection>
    </resultMap>

    <sql id="Base_Column_List">
        exercise_id,content,answer_selection_id
    </sql>
    <select id="selectExerciseByListeningPracticeId" resultMap="exerciseVO">
        -- 如果 needAnswer 为 true，则查询出 answerSelectionId
        -- 否则不需要查询 answerSelectionId
        SELECT
            <if test="needAnswer">
                *
            </if>
            <if test="!needAnswer">
                lte.*, e.exercise_id, e.content,
                s.exercise_selection_id, s.selection
            </if>
        FROM listening_to_exercise lte
        LEFT JOIN exercise e ON lte.exercise_id = e.exercise_id
        LEFT JOIN exercise_selection s ON lte.exercise_id = s.exercise_id
        WHERE listening_practice_id = #{listeningPracticeId}
        ORDER BY lte.exercise_id ASC, s.exercise_selection_id ASC
    </select>

    <select id="selectExerciseByReadingPracticeId" resultMap="exerciseVO">
        -- 如果 needAnswer 为 true，则查询出 answerSelectionId
        -- 否则不需要查询 answerSelectionId
        SELECT
        <if test="needAnswer">
            *
        </if>
        <if test="!needAnswer">
            rte.*, e.exercise_id, e.content,
            s.exercise_selection_id, s.selection
        </if>
        FROM reading_to_exercise rte
        LEFT JOIN exercise e ON rte.exercise_id = e.exercise_id
        LEFT JOIN exercise_selection s ON rte.exercise_id = s.exercise_id
        WHERE rte.reading_practice_id = #{readingPracticeId}
        ORDER BY rte.exercise_id ASC, s.exercise_selection_id ASC
    </select>
</mapper>
