<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.cetboot.mapper.VocabularyRecordMapper">

    <resultMap id="BaseResultMap" type="com.code.cetboot.entity.VocabularyRecord">
            <id property="vocabularyRecordId" column="vocabulary_record_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="vocabularyId" column="vocabulary_id" jdbcType="INTEGER"/>
            <result property="isCorrect" column="is_correct" jdbcType="INTEGER"/>
            <result property="recordTime" column="record_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        vocabulary_record_id,user_id,vocabulary_id,
        is_correct,record_time
    </sql>
    <select id="selectByUserIdAndPage" resultType="com.code.cetboot.vo.vocabulary.VocabularyRecordsVO">
        SELECT v.vocabulary_id, v.word, v.meaning,
               vr.is_correct, vr.record_time,vr.vocabulary_record_id,
               vr.user_id
        FROM vocabulary_record vr
        LEFT JOIN vocabulary v ON v.vocabulary_id = vr.vocabulary_id
        WHERE vr.user_id = #{userId}
        ORDER BY vr.record_time DESC
    </select>
</mapper>
