<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.cetboot.mapper.VocabularyMapper">

    <resultMap id="BaseResultMap" type="com.code.cetboot.entity.Vocabulary">
            <id property="vocabularyId" column="vocabulary_id" jdbcType="INTEGER"/>
            <result property="word" column="word" jdbcType="VARCHAR"/>
            <result property="meaning" column="meaning" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        vocabulary_id,word,meaning
    </sql>
    <select id="selectBatchRandom" resultType="com.code.cetboot.entity.Vocabulary">
        SELECT  *
        FROM `vocabulary`
        ORDER BY RAND()
        LIMIT #{count}
    </select>
    <insert id="insertBatch">
        INSERT INTO `vocabulary` (word, meaning)
        VALUES
        <foreach collection="vocabularyList" item="item" separator=",">
            (#{item.word}, #{item.meaning})
        </foreach>
        ON DUPLICATE KEY UPDATE vocabulary_id = vocabulary_id
    </insert>
</mapper>
